/*fijarse que no queda bien el footer de index en iPhone X*/

 /*recordar hacer media query para iphone para la imagen del bichito*/
 
 
 
 @media only screen and (min-width: 300px) 
and (max-width: 736px) {
    .secciones {
        display:flex;
     }
     
     .menu {
         display: flex;
         flex-direction: row;
         margin-top:25px; }
     }