@font-face {
    font-family:"Titulos";
    src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family:'Roboto Mono', monospace;
    src: url(https://fonts.googleapis.com/css?family=Roboto+Mono);
}
.englobado{

display: flex;
height: 20%;
position: relative;
align-items: center;



}
.Title {
    display:flex;
    width: 100%;
  height: 80%;
 /*recordar hacer media query para iphone para la imagen del bichito*/
    font-family: "Titulos";
    font-size: 3VW;
    background-image: linear-gradient(to right, #04acb4, #2ab898, #70bf6e, #b3bf44, #f9b338);
    padding-left: 20%;
align-items: center;
    
} 


a {
    font-family: 'Roboto Mono', monospace;
}

img{
    width:20%;
    height:auto;
    position: absolute;
    margin-top: 3%;

}
.menu a  {
    display:block;
text-decoration:none;
color: #845c1c;
font-size: 20px;
position: relative;
margin-top: 85px;
height: 1px;


}
