@font-face {
    font-family:"Titulos";
    src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family:'Roboto Mono', monospace;
    src: url(https://fonts.googleapis.com/css?family=Roboto+Mono);
}

.Title {
    width: 100%;
    padding: 30px;
 /*recordar hacer media query para iphone para la imagen del bichito*/
    font-family: "Titulos";
    font-size: 2.5VW;
    background-image: linear-gradient(to right, #04acb4, #2ab898, #70bf6e, #b3bf44, #f9b338);
} 

a {
    font-family: 'Roboto Mono', monospace;
}

img{
    width:20%;
    float: left;

}
